:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



body.dark-mode {
  --bs-body-bg: #212529;
  --bs-body-color: #fff;
  --bs-navbar-bg: #343a40;
  --bs-navbar-color: #fff;
}


nav a {
  margin-right: 20px; 
  
}

nav a.active {
  font-weight: bold; 
}

nav a.login {
  margin-right: 2em; 
  margin-left: auto; 
}

.mainRouter {
  max-width: 100%;
  padding: 1em;
}


button:hover {
  border-color: black;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@media (max-width: 1150px) {
    
  
nav a  {
  margin-left: 1rem; 
}

.navbar-brand a {
  margin-left: 0;
}

.navbar-toggler {
  margin-right: 1rem;
}

} 


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}