:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



body.dark-mode {
  --bs-body-bg: #212529;
  --bs-body-color: #fff;
  --bs-navbar-bg: #343a40;
  --bs-navbar-color: #fff;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
 
}


.form-check-input {
  background-color: #eee !important; 
}

.form-check-input:checked {
  background-color: grey !important; 
}

.navbar {
  background-color: var(--navbar-color);
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


nav a {
  margin-right: 20px; 
  
}

nav a.active {
  font-weight: bold; 
}

nav a.login {
  margin-right: 2em; 
  margin-left: auto; 
}

.mainRouter {
  max-width: 90%;
  padding: 1em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: black;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


:global(body.dark-mode) .navbar {
  background-color: var(--bs-navbar-bg) !important;
  color: var(--bs-navbar-color) !important;
}

:global(body.dark-mode) .navbar-dark .navbar-nav .nav-link {
  color: var(--bs-navbar-dark-color) !important;
}
:global(body.dark-mode) .navbar-dark .navbar-nav .nav-link:hover {
  color: var(--bs-navbar-dark-hover-color) !important;
}

:global(body.dark-mode) .form-check-input:checked {
  background-color: #ccc !important; 
}



@media (max-width: 1150px) {
    
  
nav a  {
  margin-left: 1rem; 
}

.navbar-brand a {
  margin-left: 0;
}

.navbar-toggler {
  margin-right: 1rem;
}

}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


